@media (max-width: 768px) {
  .banner-img {
    background-size: cover;
    heigt: 200px;
    width: 100%;
  }

  .text-nav {
    display: none;
  }

  #nav-bar .container {
    display: block;
    height: auto;
  }

  #nav-bar a:link,
  a:visited {
    display: block;
    border-left: none;
    padding: 10px;
    text-align: left;
  }

  .cer-content2 {
    border-left: none;
    border-top: 2px solid #d6c08d;
    padding-top: 20px;
  }

  .project-border span {
    display: block;
    width: fit-content;
    margin-bottom: 5px;
  }

  #footer a {
    margin-right: 10px;
  }

  #wrap {
    display: block;
    width: 80%;
    height: auto;
    padding: 2px 10px;
    margin: 0 auto;
  }

  #wrap > section {
    padding-bottom: 10px;
  }

  .flex {
    display: flex;
    flex-direction: column;
  }

  .grid-title {
    padding-top: 10px;
  }

  .goal-icon,
  .team-icon,
  .primary-icon {
    display: flex;
    justify-content: center;
  }
}
